<div class="card-columns post-list">
  {% for post in posts %}
    <article class="card post">
{#      <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title|capitalize }}">#}
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ path('blog_show_post', {slug: post.slug}) }}">
            {{ post.title|capitalize }}
          </a>
        </h5>
        <p class="card-text">{{ post.description|capitalize }}</p>
        <p class="card-text row">
          <small class="text-muted col">
            <a href="{{ path('blog_index', {'writer': post.createdBy.username}) }}">
              <i class="fa fa-user"></i> {{ post.createdBy }}
            </a>
          </small>
          <small class="text-muted col"><i
                    class="fa fa-calendar"></i> {{ post.createdAt|format_datetime('medium', 'short', '', 'UTC') }}
          </small>
        </p>

        {{ include('blog/_post_tags.html.twig') }}
      </div>
    </article>
  {% endfor %}
</div>