{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}
  <article class="post">
    <div class="mb-4">
      <h1 class="post-title fw-500">{{ post.title|capitalize }}</h1>
      <span class="metadata">Published by <strong>
          <a href="{{ path('blog_index', {'writer': post.createdBy.username}) }}"> {{ post.createdBy }} </a></strong> on {{ post.createdAt|date }}</span>
    </div>
    <picture>
      <img src="{{ post.image }}" class="card-img-top mb-4" alt="{{ post.title|capitalize }}">
    </picture>
    {{ post.content|raw }}
  </article>
  <div class="clearfix"></div>
  {{ include('blog/_post_tags.html.twig') }}
  <div class="clearfix"></div>
  <div class="mt-4 mb-4">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {{ render(controller('App\\Controller\\BlogController::commentForm', {id: post.id})) }}
    {% else %}
      <div class="card">
        <div class="card-body">
          <div class="card-text text-center">
            <a class="btn btn-success login" href="{{ path('app_login', {'redirect_to': app.request.pathInfo}) }}">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Please Login
            </a>
            to publish a comment
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="clearfix"></div>
  <fieldset>
    <legend>
      <i class="fa fa-comments" aria-hidden="true"></i> {{ post.comments|length }} comments
    </legend>
    {% for comment in post.comments %}
      <div class="card mb-2">
        <div class="card-body">
          <div class="card-text">
            <div class="row post-comment">
              <a name="comment_{{ comment.id }}"></a>
              <h6 class="col-sm-3">
                <strong><i class="fa fa-user"></i> {{ comment.createdBy }}</strong><br>
                <small><i class="fa fa-calendar"></i> {{ comment.createdAt|format_datetime('medium', 'short', '', 'UTC') }}
                </small>
              </h6>
              <div class="col-sm-9">
                {{ comment.content|raw }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="card mb-2">
        <div class="card-body">
          <div class="card-text">
            <p>No comment yet!</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </fieldset>
{% endblock %}

{% block sidebar %}
  {{ render(controller('App\\Controller\\BlogController::recentPosts')) }}
{% endblock %}